.navbarbackground{
	background-color: #161719c7;
    box-shadow: 0px 8px 2px -3px rgba(16, 1, 1, 0.42);
    /* border-bottom: 48px white; */
    min-height: 51px;
    border-bottom: 5px solid #f8f9fac7;
    /* border: white; */
    border-radius: 5px;
    max-height: 61px;
}

.btn-brdr{
	    border: 2px solid white;
}

.fa{
	padding-top: 4%;
	color: white;
}