
<!-- Div for wrapper -->
<div class="pre-loader" *ngIf="pageLoader">
		<div class="full-loader" >
		</div>
	</div>
<div class="wrapper wrapper-login">

	<!-- Div for SideBar -->
	
	<div class="sidebar" *ngIf="verified">
		<app-sidebar *ngIf="verified" [ngClass]="{'appSidebarHide':sideBarHidden ,'appSidebar':!sideBarHidden}"></app-sidebar>
		<!-- Div for MainPanel -->
		<div class="main-panel wrapper-loggedin" [ngClass]="{'w-100':sideBarHidden}">

			<!-- Div for NavBar -->
			<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="verified" class="appNavbar">
				<app-navbar></app-navbar>
			</nav>
			<!-- Div for ContentView -->
			<div class="mt-4">
				<router-outlet></router-outlet>
			</div>
		</div>
	</div>
	<!-- Show this content in case of Pages like Login || Register -->
	<router-outlet *ngIf="!verified"></router-outlet>
</div>
<!--The content below is only a placeholder and can be replaced.-->

