<div class="sidebar-Wrapper col-md-2 " style="position: fixed;" >
	<div class="mt-5 sidebarpad" >
		<div class="card">
			<div class="card-body">
			
					<img src="assets/man.png" class="img-icon">

			</div>
			<div class="card-footer text-center">
				{{userperson}}
			</div>
		</div>
	</div>
	<div class="mt-5 sidebarpad" >
		
			<li class="sidebar-list">
				Latest Releases
			</li>
			<li class="sidebar-list">
				Movies
			</li>
			<li class="sidebar-list">
				TV Series
			</li>
			<li class="sidebar-list">
				Documentaries
			</li>
		
	</div>
</div>